@charset "UTF-8";

html{
    height: 120%;
}

body{
    height: 100%;
    background-image: linear-gradient(0deg,#f6fd2c  10%,#00b2fe 50%,#0066cc 90%);
}

header{
    padding:5rem 0 2rem 0;
    text-align: center;
}


header p{
    font-size: 2rem;
    color:aliceblue;
}

p a img{
    width: 10%;
}

#container{
    background-color: rgba(72, 72, 72, 0.5);
    border-radius: 10px;
    color: white;
    width: 20%;
    height: auto;
    margin:0 auto;
}



/* ここから子blade */


form{
    max-width: 80%;
    margin: 0 auto;
}

form p{
    text-align: center;
    padding: 1rem 0 1rem 0;
}


.head-text{
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 1.25rem;
}




form label{
    padding-top:0.5rem;
    padding-bottom: 0.1rem;
}


form p a{
    color: #ffffff;
    text-decoration: none;
}

form .btn{
    margin-top:1rem;
    padding:0.3rem 0.5rem;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

.right{
    text-align: right;
    margin-bottom: 2rem;
}

/* ------add area------ */

.clear p{
    max-width: 80%;
    margin: 1rem auto;
    text-align: center;

}

.clear-hello{
    font-size: 1.25rem;
    padding-top: 1rem;
}

.clear-p{
    padding: 2rem 0 1rem 0;
    align-items: center;
}

.center{
    padding-bottom: 1.25rem;
    text-align: center;
}
