@charset "utf-8";
html{
}
body{
}
/* header */



header{
    background:#186AC9;
    height: 60%;
}

#head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.atlas{
    width: 10%;
    margin: auto auto auto 1rem;

}


.atlas img {
    width: 100%;
    height: auto;
}



.header-name {
    margin: auto 1rem auto auto;
    display: flex;
    align-items: center;
}

.header-name a{
    color: #ffffff;
    margin-left: auto;
}




/* アコーディオンリスト */

.card-body ul li a{
    color: black;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 81%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;

}

a{
    color: #ffffff; text-decoration: none;
}



/* index */



.index-form{
    height: 20vh;
    border-bottom: 10px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.index-form .index-text textarea {
    resize: none;
    outline: none;
}


.form-post {
    width: 50px;
    border-radius: 3px;
}




.post-container{
    padding: 1rem;
    height: auto;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items:flex-start;
}

img{
    width: 50px;
}

.post-icon{
    margin:0 0 0 0 ;
}

.post-username{
    font-weight:500;
}

.post-post{
    white-space: pre-line;
}


button[type="submit"] {
    border: none;
    background-color: transparent;
  }



/* もーだる */
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}



