@charset "utf-8";
html{
}
body{
}



/* login.php */
/* ----------------------------------------------------- */
/* header */



.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background:#186AC9;
    height: 10vh;
}


.header-atlas{
    width: 100px;
    margin: auto auto auto 1.5rem;
}


.header-atlas img {
    width: 100%;
    height: auto;

}

.header-box {
    margin: auto 2rem auto auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-name{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.header-icon{
    margin-left:1rem;
}




/* ----------------------------------------------------- */
/* アローマーク */

.header-arrow{
    position: relative;
    width: 20px;
    height: 20px;
    margin-left:1rem ;
}

.header-arrow span{
    display: block;
    position: absolute;
    width: 20px;
    border-bottom: 3px solid #ffffff ;
}


.header-arrow span:nth-child(1){
    top: 5px;
    right: 4.5px;
    transform: rotate(60deg);
    transition: 0.3s ease-in-out;
}

.header-arrow span:nth-child(2){
    top: 5px;
    left: 4.5px;
    transform: rotate(-60deg);
    transition: 0.3s ease-in-out;
}



.header-arrow.active span:nth-child(1){
    top: 5px;
    right: 4.5px;
    transform: rotate(-60deg);
    transition: 0.3s ease-in-out;
}

.header-arrow.active span:nth-child(2){
    top: 5px;
    left: 4.5px;
    transform: rotate(60deg);
    transition: 0.3s ease-in-out;
}



/* ----------------------------------------------------- */
/* アコーディオン内部 */

.accordion{
    display: block;
    position:absolute;
    z-index:3;
    width: 17.03rem;
    background-color: #001f9d;

    opacity: 0%;
    transition: .5s ease-in-out;
    transform: translateX(100%);
}

.accordion.active{
    opacity: 100%;
    transition: .5s ease-in-out;
    transform: translateX(0%);
}



.accordion-text{
    color: #090909;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #001f9d;
    padding: 1.61rem 0 1.61rem 0;
    font-size: 1.5rem;
    transition: .3s ease-in-out;
}

.accordion-text:hover{
    color: #fff;
    background-color: #001f9d;
    transition: .3s ease-in-out;

}


/* ----------------------------------------------------- */
/* フォロー・フォロワーリスト */


.btn .btn-primarybtn{
    color: #ffffff;
    text-decoration: none;
}

#confirm{
    border-bottom: 1px solid #727272;
    padding-bottom: 1rem;
}

#confirm p{
    margin: 1rem;
}

.confirm-btn{
    margin-right: 2rem;
    text-align: right;
}

.confirm-btn .btn{
    width: 9rem;
    padding: 0.5rem 0rem;
}

.search{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


/* ----------------------------------------------------- */
/* main content */

header{
    width: 100%;
}

#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 81%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    position: relative;

}



/* ----------------------------------------------------- */
/* index */
/* ----------------------------------------------------- */
/* index form */
.form-container{
    height: 20vh;
    border-bottom: 10px solid #dadada;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
}

.form-icon{
    margin:0 1rem 0 3rem ;
}

.form-text{
    overflow: hidden;
    resize: none;
    border: none;
}


.form-post {
    width: 50px;
    border-radius: 3px;
}

/* ----------------------------------------------------- */
/* index post */

.post-container{
    padding: 1rem;
    height: auto;
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items:flex-start;
}


.post-icon{
    margin:0 0 0 6rem ;
}


.post-box1{
    margin-left: 1rem;
}

.post-box2{
    margin: 0 0 0 auto ;
}


.post-username{
    font-weight:500;
}

.post-post{
    white-space: pre-line;
}



/* ----------------------------------------------------- */

.post-ud{
    display: flex;
    align-items:center;
    margin: 5rem 0 0 0;
}

.delete-button {
    cursor: pointer;
    padding: 0;
  }

  .delete-icon {
    height: 50px;
    width: 50px;
    background-size: cover;
    /* 画像サイズをheightとwidthに合わせる*/

    background-image:url("../images/trash.png") ;
    transition: 0.3s;
  }

  .delete-icon:hover {
    background-image: url("../images/trash-h.png");
    transition: 0.3s;
  }


/* ----------------------------------------------------- */
/* index ext... */

button[type="submit"] {
    border: none;
    background-color: transparent;
  }

img{
    width: 50px;
    height: 50px;
}

/* ----------------------------------------------------- */

/* もーだる */
/* 必要に応じて編集しご自身でSNS課題のレイアウトのようにカスタマイズしてください。 */
.edit{
    margin: 0 auto;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.5);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    border-radius: 10px;
}

.modal__content form{
    text-align: center;
}

.modal__content form{
    text-align: center;
}

.modal__content textarea{
    overflow: hidden;
    resize: none;
}


/* ---------------------------------------------------- */
/* profile */
/* ----------------------------------------------------- */

.profile-container{
    display: flex;
    justify-content: center;
}

.profile-icon{
    margin: 2rem 2rem 0 0;
}

.profile-big-box{
    margin-top: 3rem;
}

.profile-box{
    margin-bottom: 2.5rem;
    display: flex;
    align-content: center;
    white-space: nowrap;
}

.profile-label{
    width: 17.5rem;
}

.profile-button{
    margin: 0 auto 0 13rem;
    padding: 0.25rem 3rem 0.25rem 3rem;
}

.profile-form{
    background-color: #efefef;
    border: 1.5px solid #c2c2c2;
    width: 20rem;
}



/* ----------------------------------------------------- */
/* search */
/* ----------------------------------------------------- */

.search-container{
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 10px solid #dadada;
}

.search-box{
    display: flex;
    align-items: flex-start;
}

.search-text{
    margin-right: 1rem;
    width: 22.5rem;
    height: 50px;

}

.search-icon{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 16rem;
}

.su-word{
    margin: auto 0 auto 0;
}

/* ----------------------------------------------------- */
/* Search users */

.br{
    padding: 0.5rem;
}

.su-container{
    padding: 1rem;
    display: flex;
    justify-content:center;
}

.su-box{
    width: 24rem;
}

.su-icon{
    margin-right: 1rem;
}

/* ----------------------------------------------------- */
/* follow list */
/* ----------------------------------------------------- */

.fl-container{
    padding: 1rem;
    display: flex;
    border-bottom: 10px solid #dadada;
    padding-bottom: 2rem;
}

.fl-text{
    margin: 1rem 3rem 0 3rem ;
}

.fl-icon{
    max-width: 550px;
}



/* ---------------------------------------------------- */
/* follow */
/* ----------------------------------------------------- */

.post-container input[type='image']{
    width: 50px;
    margin: 0 1rem 0 6rem;
}

/* ----------------------------------------------------- */
/* Follow profile */

.fp-container{
    padding:  1rem ;
    height: 19vh;
    border-bottom: 10px solid #dadada;
    display: flex;
    align-items:flex-start;
}

.fp-icon{

    margin: 1rem 1rem 0 5rem;
}

.fp-box1{
    margin: auto 0 auto 0;
}

.fp-box2{
    margin: auto 0 auto 6rem;
}

.fp-follow{
    margin: 3.5rem 0rem auto auto ;
}

